.event-list-item {
  cursor: pointer;

  & + & {
    border-top: 1px solid rgba(0, 0, 0, .125);
  }

  &__header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    font-size: 16px;
    line-height: 1.25;

    @media all and (min-width: $brt-medium) {
      flex-direction: row;
      font-size: 18px;
    }
  }

  &__date {
    order: 1;
    flex-shrink: 0;
    position: relative;
    padding: .5rem 1rem;

    @media all and (min-width: $brt-medium) {
      order: 0;
      flex-shrink: 1;
      min-width: 145px;
      padding: .75rem 0 .75rem 2.5rem;
      font-weight: 500;
      white-space: normal;
    }

    @media all and (min-width: $brt-large) {
      min-width: 240px;
    }

    & > .fa {
      position: absolute;
      left: 1.2rem;
      top: 0.9rem;
      display: none;
      transition: transform 0.3s ease;

      @media all and (min-width: $brt-medium) {
        display: block;
      }
    }

    &:not(.collapsed) .fa {
      transform: rotate(90deg);
    }
  }

  &__name {
    order: 0;
    flex-grow: 1;
    flex-basis: 100%;
    margin: 0;
    padding: .75rem 70px .5rem 1rem;
    font-size: 18px;

    @media all and (min-width: $brt-small) {
      padding-right: 140px;
    }

    @media all and (min-width: $brt-medium) {
      order: 2;
      padding-bottom: .75rem;
      padding-right: 0;
      font-size: 20px;
    }
  }

  &__type {
    order: 3;
    flex-shrink: 1;
    flex-grow: 1;
    min-width: 140px;
    padding: 0 1rem .5rem;
    white-space: normal;
    color: #6c757d;

    @media all and (min-width: $brt-medium) {
      flex-grow: 0;
      min-width: 155px;
      padding: .75rem 1rem .75rem 0;
      font-weight: 500;
    }

    @media all and (min-width: $brt-large) {
      min-width: 200px;
    }
  }

  &__details {
    order: 4;
    flex-shrink: 1;
    position: absolute;
    right: 0;
    top: 0;
    padding: .75rem 1rem .75rem 0;

    @media all and (min-width: $brt-medium) {
      position: static;
    }
  }

  &__details-icon {
    display: block;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;

    @media all and (min-width: $brt-small) {
      display: none;
    }
  }

  &__details-text {
    display: none;

    @media all and (min-width: $brt-small) {
      display: block;
    }
  }

  &__body.collapsing,
  &__body.show {
    border-top: 1px solid rgba(0, 0, 0, .125);
  }

  &__intro {
    margin: 0;
    padding: .75rem 1rem;
    word-wrap: break-word;
  }
}