.header-logo {
  color: $title-color;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;

  &__main {
    margin: 0 0 5px;
    font-size: 2.5rem;
    line-height: 1;
  }

  &__slogan {
    margin: 0;
    font-size: 1rem;

    @media all and (max-width: 540px) {
      max-width: 220px;
    }
  }
}
