{% extends 'base.html.twig' %}

{% block page_heading %}
    <div class="row">
        <h2 class="sub-header brand-txt">
            {% block heading %}
                О проекте
            {% endblock %}
        </h2>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col">
            <div class="card  mb-4">
                <h4 class="card-header text-left bg-white brand-txt">
                    О нас
                </h4>
                <div class="card-body">
                    <div class="row">
                        <div class="col d-none d-sm-block" style="max-width: 230px;">
                            <img class="max-limit-img" src="{{ asset( "images/rolendar-1.jpg") }}" alt="rolendar">
                        </div>
                        <div class="col col-sm-8 col-lg-9 col-xl-10">
                            <p>
                                Ролендарь - это прежде всего календарь ролевых проектов Украины. Он создавался как
                                для себя и впоследствии стал открытым для ролевого сообщества.
                            </p>
                            <p>
                                Мы добавляем игры, фестивали, ролевые балы, конвенты и стараемся, чтобы информация о
                                проектах была наиболее актуальной и полной.<br>
                                Мы за открытость и доступность информации, за расширение аудитории, которой
                                интересны живые ролевые проекты во всех их проявлениях, поэтому если вы знаете о
                                каком-то проекте, которого нет у нас в календаре, пишите нам, мы все исправим.<br>
                            </p>
                            <p>
                                Ролендарь проект некоммерческий, но если вам здесь нравится, вы можете нам
                                помочь:<br>
                                Карта Приватбанка - <strong>Ковалева Диана 4731 1856 1575 9690</strong>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="align-self-stretch  mb-4  col-12  col-md-6  col-xl-4">
                    <div class="card  h-100">
                        <h4 class="card-header text-left bg-white brand-txt">Ролендарь в соцсетях</h4>
                        <div class="card-body">
                            <div class="card-text">
                                <a class="contacts-link" href="https://www.facebook.com/rolendar/">
                                    <i class="fa fa-facebook-square fa-2x brand-txt"></i>
                                    <div class="contacts-link__text">https://www.facebook.com/rolendar/</div>
                                </a>
                                <a class="contacts-link" href="https://www.facebook.com/diana.milanskaya/">
                                    <i class="fa fa-vk fa-2x brand-txt"></i>
                                    <div class="contacts-link__text">https://vk.com/rolendar</div>
                                </a>
                                <a class="contacts-link" href="https://t.me/rolendar">
                                    <i class="fa fa-telegram fa-2x brand-txt"></i>
                                    <div class="contacts-link__text">https://t.me/rolendar</div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="align-self-stretch  mb-4  col-12  col-md-6  col-xl-4">
                    <div class="card  h-100">
                        <h4 class="card-header text-left bg-white brand-txt">Руководитель проекта</h4>
                        <div class="card-body">
                            <div class="card-text">
                                <h4>Диана Ковалева</h4>
                                <div class="row">
                                    <div class="col-5">
                                        <img class="max-limit-img" src="{{ asset( "images/Diana.jpg") }}" alt="Диана Ковалева">
                                    </div>
                                    <div class="col-7">
                                        <a class="contacts-link" href="mailto:mirnavii@gmail.com">
                                            <i class="fa fa-envelope fa-2x brand-txt"></i>
                                            <div class="contacts-link__text">mirnavii@gmail.com</div>
                                        </a>
                                        <a class="contacts-link" href="https://www.facebook.com/diana.milanskaya/">
                                            <i class="fa fa-facebook-square fa-2x brand-txt"></i>
                                            <div class="contacts-link__text">https://www.facebook.com/diana.milanskaya/</div>
                                        </a>
                                        <a class="contacts-link" href="skype:sirius_nalivat?call">
                                            <i class="fa fa-skype fa-2x brand-txt"></i>
                                            <div class="contacts-link__text">sirius_nalivat</div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="align-self-stretch  mb-4  col-12  col-md-6  col-xl-4">
                    <div class="card  h-100">
                        <h4 class="card-header text-left bg-white brand-txt">Соучредитель проекта</h4>

                        <div class="card-body">
                            <div class="card-text">
                                <h4>
                                    <span class="mourning-frame">Роман Гаврилов</span>
                                </h4>
                                <div class="row">
                                    <div class="col-5">
                                        <img class="max-limit-img" src="{{ asset( "images/Romashka.jpg") }}" alt="Роман Гаврилов">
                                    </div>
                                    <div class="col-7">
                                        <p>
                                            (более известный в ролевом сообществе как Роман Миланский ака Ромашка).
                                        </p>
                                        <p>
                                            Без его идей, многомесячного труда и аналитики этого проекта просто бы не было.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
